<div>
    <h3>Contact Us</h3>
</div>
<div>
    <form  name="contact" >
        <!-- (ngSubmit)="onsubmit(loginForm)" #contactForm="ngForm" -->
        <div>
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            
        </div>
        <div>
            <input type="text" name="firstName" placeholder="First Name" id="">
            <input type="text" name="lastName" placeholder="Last Name" id="">
        </div>
        <div>
            <input type="tel" name="Phone Number" placeholder="First Name" id="">
            <input type="email" name="Email" placeholder="Last Name" id="">
        </div>
        <div>
            <textarea id="" name="query" placeholder="Query" rows="4" cols="48"></textarea>

        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>