<div>
    <div>
        <p>
            This is your college marketplace
        </p>
    </div>
    <div>
        <h3>
            Welcome to a new shopping experience!
        </h3>
    </div>
    <div>
        <input type="text" name="searchProduct" id="">
        <input type="button" value="Search">
    </div>
</div>
<div>
    <div>
        <div class="row">
            <div class="col">
                <input type="image" src="https://tse1.mm.bing.net/th?id=OIP.dXP_HawFSg1sNgQKz0Fx3QHaEK&pid=Api&rs=1&c=1&qlt=95&w=165&h=92" alt="">
            </div>
            <div class="col">
                <p><Span><strong>Lorem ipsum dolor sit amet</strong> </Span> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
        </div>
        
    </div>

    <div>
        <div class="row">
            
            <div class="col">
                <p><Span><strong>Lorem ipsum dolor sit amet</strong> </Span> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col">
                <input type="image" src="https://tse1.mm.bing.net/th?id=OIP.dXP_HawFSg1sNgQKz0Fx3QHaEK&pid=Api&rs=1&c=1&qlt=95&w=165&h=92" alt="">
            </div>
        </div>
        
    </div>

    <div>
        <div class="row">
            <div class="col">
                <input type="image" src="https://tse1.mm.bing.net/th?id=OIP.dXP_HawFSg1sNgQKz0Fx3QHaEK&pid=Api&rs=1&c=1&qlt=95&w=165&h=92" alt="">
            </div>
            <div class="col">
                <p><Span><strong>Lorem ipsum dolor sit amet</strong> </Span> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
        </div>
        
    </div>
</div>